* {
    box-sizing: border-box;
}

body {
    background-color: #cdcbcb;
    padding: 0;
    margin: 0;
}

.numImage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

#input_value {
    width: 80%;
}

.slideshow-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('/slideshow-carousel/assets/img/sfondoDocsity.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 20px;
    border-radius: 20px;
}

.slider {
    position: relative;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 5px #000;
    border: 5px solid white;
    margin: 25px 0px;
}

.slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;
}

.active {
    opacity: 1;
}

.prev, .next {
    font-size: 30px;
    padding: 10px 17px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 5px #000;
}

.prev:hover, .next:hover {
    cursor: pointer;
    transform: scale(1.08);
    background-color: #bdbcbc;
}

nav {
    background-color: #000063;
    padding: 30px;
}

footer nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
}